
body {
  padding-top: 60px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}



.file-bar {
    background: ##d0d9e4;
    padding: 5px 15px;
    overflow-x: auto;
}
