<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container  ">

        <!--  Header -->
        <header class="row centered-form center-block text-center">
          <section class="container col-md-12 col-md-offset-1 border border-white rounded p-3 mb-2 text-info">

          <div>
            <!-- <img src="pictures/WNFZE6466.jpg" style=width:200px;height:200px;" alt="Author image">
            <img src="pictures/cover.png" alt="Mary Tutors Math Logo"> -->
            <picture>
              <source media="(max-width: 576px)"
                      srcset="pictures/cover_white.png" alt="Mary Tutors Math Logo">
              <source media="(max-width: 922px)"
                      srcset="pictures/cover_white.png" alt="Mary Tutors Math Logo">
              <source media="(min-width: 923px)"
                      srcset="pictures/cover_white.png" alt="Mary Tutors Math Logo">
              <img src="pictures/cover_white.png" style=width:100%;height:400px;" alt="Mary Tutors Math Logo">
            </picture>

                        <!-- <h1 class="display-3">Welcome to Mary Tutors Math!</h1>
                        <p class="lead">Empowering Students to Learn Math</p>
                        <img src=".../assets/pictures/calculations.png" />
                        <ion-icon name="calculator" style= "font-size: 150px;"></ion-icon> -->
          </div>
        </header>

        <!-- Page Features -->
        <!-- /.row -->
        <section class="row centered-form center-block text-center">
          <section class="container d-flex flex-wrap align-items-center justify-content-center col-md-6 col-md-offset-1 border  rounded p-3 mb-2 bg-info text-white"">
            <img src="pictures/Mary2016.jpg" style=width:350px;height:200px;" alt="Author image">
          </section>
          <section class="container col-md-6 col-md-offset-1 border  rounded p-3 mb-2 bg-info text-white"">

            <h4 class="card-title">About Mary Wayock</h4>
            <p class="card-text ">
              <p>I am passionate about math and helping students learn.
                <br>
                Here are few facts about who I am:
              </p>
              <ul style="list-style-type:none">
                <li>Certified Math teacher</li>
                <li>Tutoring since 2006</li>
                <li>Enjoy teaching Math</li>
                <li>Love my children, sudoku puzzles and chocolate <li>
              </ul>
                <p>See my credentials on the resume page</p>
            </p>
          </section>
        </section>
        <!-- /.row -->
        <section class="row centered-form center-block text-center">
          <section class="container col-md-12 col-md-offset-1 border  rounded p-3 mb-2 bg-info text-white"">
            <h4 class="card-title">Need Tutoring?</h4>
            <% include ./partials/form.ejs %>
          </section>
        </section>
        <!-- /.row -->
        <section class="row centered-form center-block text-center">
          <section class="container col-md-12 col-md-offset-1 border rounded p-3 mb-2 bg-info text-white"">
            <h4 class="card-title">Math API</h4>
            <p class="card-text">Math Fact Goes Here</p>
          </section>
        </section>
      </main>
      <!-- /.container -->
      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    </body>
</html>
